@import url("../../style/reset.css");
@import url("../../style/navbar.css");

:root {
  --primary-color: rgba(155, 16, 33);
  --secundary-color: rgb(255, 255, 255);
  --terciary-color: rgb(114, 114, 114, 0.788);
}
body {
  background-color: black;
}
